version: '3.8'
services:
  server:
    build:
      context: ./server
    ports:
      - "6001:6001"
    container_name: light-server-side

  client:
    build:
      context: ./client
    ports:
      - "6000:6000"
    container_name: light-client-side
    stdin_open: true
